<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.full_name %>. Seu cadastro no sistema JEDIS-Test foi efetuado!</h1>
    <p>Estamos enviando este e-mail para sua ciência do cadastro.</p>
  </body>
</html>
