<div class="row">
  <div class="col-md-12">
    <%= form_for @resident do |f| %>
      <div class="form">
        <div class="resident_form">
          <h3>Informações</h3>
          <div class="input">
            <label for="resident_full_name">
              Nome Completo
            </label>
            <%= f.text_field :full_name, placeholder: "John Doe", :required => true %>
          </div>

          <div class="input">
            <label for="resident_cpf">
              CPF
            </label>
            <%= f.text_field :cpf, placeholder: "000.000.000-00", :required => true %>
          </div>

          <div class="input">
            <label for="resident_cns">
              CNS
            </label>
            <%= f.text_field :cns, :required => true, :maxlength => 15 %>
          </div>

          <div class="input">
            <label for="resident_email">
              Email
            </label>
            <%= f.text_field :email, placeholder: "email@email.com", :required => true %>
          </div>

          <div class="input">
            <label for="resident_birth_date">
              Data de nascimento
            </label>
            <%= f.date_field :birth_date, value: @resident.birth_date, :required => true %>
          </div>

          <div class="input">
            <label for="resident_phone_number">
              Celular
            </label>
            <%= f.text_field :phone_number, placeholder: "99 99999-9999", :required => true %>
          </div>

          <div class="input">
            <label for="resident_picture">
              Foto
            </label>
            <%= f.file_field :picture, id: "imgInp", value: @resident.picture %>
            <% if @resident.picture.attached? %>
              <%= image_tag(@resident.picture, style: "height:200px") %>
            <% end %>
            <img id="preview" src="#" alt="your image" style="height: 200px"/>
          </div>
        </div>

        <div class="address_form">
          <h3>Endereço</h3>
          <%= f.fields_for :address do |address_form| %>
            <div class="input">
              <label for="resident_address_attributes_cep">
                CEP
              </label>
              <%= address_form.text_field :cep, :required => true %>
            </div>
            <div class="input">
              <label for="resident_address_attributes_street">
                Rua
              </label>
              <%= address_form.text_field :street %>
            </div>
            <div class="input">
              <label for="resident_address_attributes_neighborhood">
                Bairro
              </label>
              <%= address_form.text_field :neighborhood, :required => true %>
            </div>
            <div class="input">
              <label for="resident_address_attributes_city">
                Cidade
              </label>
              <%= address_form.text_field :city, :required => true %>
            </div>
            <div class="input">
              <label for="resident_address_attributes_state">
                UF
              </label>
              <%= address_form.text_field :state, :required => true %>
            </div>
            <div class="input">
              <label for="resident_address_attributes_complement">
                Complemento
              </label>
              <%= address_form.text_field :complement %>
            </div>
          <% end %>

        </div>
      </div>
      <div class="submit">
        <%= f.submit request.path.include?('new') ? "Criar Municipe" : "Editar Municipe" %>
      </div>

      <%= link_to "Menu", residents_path, id: "menu", class: 'btn btn-lg btn-default' %>
    <% end %>
  </div>
</div>

<style>

    #menu {
        text-align: center;
        margin: 0 auto;
    }

    .form {
        display: flex;
        justify-content: center;
    }

    .resident_form {
        margin-right: 50px
    }

    .address_form {
        margin-left: 50px
    }

    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 50%
    }

    .submit, #menu {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script>
    preview.style.display = "none";
    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            preview.style.display = "block";
            preview.src = URL.createObjectURL(file)
        }
    }

    $(document).ready(function () {

        function limpa_formulário_cep() {
            $("input#resident_address_attributes_street").val("");
            $("input#resident_address_attributes_neighborhood").val("");
            $("input#resident_address_attributes_city").val("");
            $("input#resident_address_attributes_state").val("");
            // $("#ibge").val("");
        }

        $("input#resident_address_attributes_cep").blur(function () {
            var cep = $(this).val().replace(/\D/g, '');
            if (cep != "") {
                var validacep = /^[0-9]{8}$/;
                if (validacep.test(cep)) {
                    $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                        if (!("erro" in dados)) {
                            $("input#resident_address_attributes_street").val(dados.logradouro);
                            $("input#resident_address_attributes_neighborhood").val(dados.bairro);
                            $("input#resident_address_attributes_city").val(dados.localidade);
                            $("input#resident_address_attributes_state").val(dados.uf);

                            $("input#resident_address_attributes_street").attr('readonly', true);
                            $("input#resident_address_attributes_neighborhood").attr('readonly', true);
                            $("input#resident_address_attributes_city").attr('readonly', true);
                            $("input#resident_address_attributes_state").attr('readonly', true);
                        } else {
                            limpa_formulário_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                } else {
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } else {
                limpa_formulário_cep();
            }
        });
    });

</script>
