<h1>Lista de Municipes</h1>

<%= form_with( url: residents_path ,method: :get , remote: true) do |f| %>
  <%= f.text_field :search, value: params[:search]  %>
  <%= f.submit "Pesquisar" %>
<% end %>
<br/>
<table id="residents">
  <tr>
    <th> ID</th>
    <th> Name</th>
    <th> CPF</th>
    <th> CNS</th>
    <th> Telefone</th>
    <th> Cidade</th>
    <th> UF</th>
    <th> Status</th>
    <th>Opções</th>
  </tr>
    <% @residents.each do |resident| %>
    <% address = resident.address %>
    <tr>
      <td><%= resident.id %></td>
      <td><%= resident.full_name %></td>
      <td><%= "#{resident.cpf.first(3)}.***.***-#{resident.cpf.last(2)}"%></td>
      <td><%= "#{resident.cns.first(3)}************"%></td>
      <td><%= "(#{resident.phone_number.first(2)}) *****-#{resident.phone_number.last(4)}"%></td>
      <td> <%= address.city %> </td>
      <td> <%= address.state %> </td>
      <td> <%= resident.active ? "Ativo" : "Inativo" %> </td>
      <td width="10%">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Opções
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to "Editar", edit_resident_path(resident.id) %></li>
            <li><%= link_to resident.active ? "Desativar" : "Ativar", status_resident_path(resident.id), method: :post %></li>
          </ul>
        </div>
      </td>
    </tr>
    <% end %>
</table>

<%= link_to "Criar novo Municipe", new_resident_path %>

<style>
  #residents {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px
  }

  #residents td, #residents th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #residents tr:nth-child(even){background-color: #f2f2f2;}

  #residents tr:hover {background-color: #ddd;}

  #residents th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #606868;
    color: white;
  }
</style>
